<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "the Devin Joke Server" %></h1>

  <section>
    <p>
      <%= @joke %>
    </p>
    <p>
      <button phx-click="new_joke" >Get a new Devin Joke</button>
    </p>
  </section>

</section>
